
.Page_layout{
    background: rgb(238, 245, 255);
    
}

.Page__Nav{
    position: sticky;
    top: 0;
    background: #1a7897;
    /* padding: 10px; */
    box-shadow: 0px -10px 10px 5px #000000;
    /* margin: 50px; */

    z-index: 10;
}

.Page__Footer{
    position: sticky;
    bottom: 0;
    z-index: 10;

    
    background: rgb(255, 255, 255);
    margin: 0;
    /* padding-bottom: 5px; */
    /* padding: 20px; */
    
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.301);
}

.Page__Selector{
    margin: auto;
    /* background-color: orangered; */
    /* margin-right: 10px;     */
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
}

.Page__layout-center{
    margin: auto;
    /* max-width: 350px; */
    /* padding: 10px; */
    /* background: blue; */
    overflow: hidden;
}


.Pagina__Container{
    display: grid;
    grid-template-columns: 1fr;
    /* overflow-x: auto; */
}

@media (min-width: 400px){
    /* 
    desktop:1200px
    laptop: 1024px 
    tablet: 760px
    phone:  480px
    */

    .Page__layout-center{
        max-width: 600px;
    }

    .Page__Selector{
        max-width: 600px;
    }


}

