
.Grid__page-container{
    margin: auto;
    /* background: rgb(162, 2, 211); */
}

.Grid__main-container{
    display: grid;
    grid-template-columns: 1fr;
    /* background: orangered; */
    
    justify-content: center; 
    align-content: center;   
}

.Grid__item{
    /* background: green; */
    /* margin: 10px; */
    padding: 0px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 20px;

    /* overflow: hidden; */
    overflow-x: auto;
}

