
.info_container{
    background: rgba(255, 255, 255, 0.651);
    text-align: center;
    border-radius: 15px;
    margin: auto;
    padding: 10px;
}

.main__title{
    color: rgb(243, 66, 1);
}

.sel{

    /* background: skyblue; */
    
    overflow: scroll;
    white-space: nowrap;
    height: 110px;
    margin: auto;

    /* border: 1px solid rgb(202, 202, 202); */
    border-radius: 5px;
    padding: 5px;
    text-align: center;    
}

.sel__item{
    display: inline-block;
    
    width: 150px;
    height: 100px;
    
    background: rgb(96, 180, 0);
    margin: 3px;
    border-radius: 5px;
}

.sel::-webkit-scrollbar{
    display: none;
}