.Nav__container{
    background: rgb(255, 255, 255);       

    display: grid;
    grid-template-columns: 100px 1fr;
    /* gap: 10px; */

    box-shadow: 5 10 5 5 black;

    z-index: 10;
}

.Nav__item{
    /* background: rgb(84, 148, 1); */
    /* margin: 10px; */
}

.Nav__item:nth-of-type(1) {
    justify-self: start;
    align-self: center;
}

.Nav__item:nth-of-type(2) {    
    justify-self: end;
    align-self: center;
}


.Nav__item a{
    background: rgb(124, 124, 124);    
}


.Logo__item{
    display: inline-block;
    /* background: blanchedalmond; */
    margin-left: 10px;
}

.Logo__texto{
    font-size: 25px;
}


.Menu-container{
    /* background: rgb(101, 3, 131); */
    text-align: left;
    /* width: 400px; */
}

.Menu__items{
    /* display: none; */
    display: inline-block;
    /* background: hotpink; */
    margin: 10px;    
}

/* @media (min-width: 600px){    

    .Menu__items{
        background: rgb(105, 200, 255);
        
        display: inline-block;
    }

}
 */


