.Nav__container{
    background: lightblue;     

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 0;
}

.Nav__item{
    background: rgb(84, 148, 1);
    margin: 10px;
}

.Nav__item:nth-of-type(1) {
    justify-self: start;
    align-self: center;
}



.Nav__item:nth-of-type(2) {
    justify-self: center;
    align-self: center;    
}

.Nav__item:nth-of-type(3) {    
    justify-self: end;
    align-self: center;
}


.Nav__item a{
    background: rgb(124, 124, 124);    
}

.Logo-container{
    width: 300px;
}

.Search-container{
    background: orangered;
}

.Search__bar{
    width: 800px;
    background: greenyellow;
    margin: 10px;
}

.Menu-container{
    background: rgb(101, 3, 131);
    text-align: left;
    width: 400px;
}

.Menu__items{
    background: hotpink;
    margin: 10px;
    display: inline-block;
}



