

.Search-container{
    background: blue;
    margin: auto;
    padding: 5px;
}

.Search__bar{    
    /* background: greenyellow; */
    /* width: 600px; */
    margin: 10px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 10px;
}

.Search__bar p{
    font-style: italic;
    padding-left: 10px;
}


@media (min-width: 600px){
    .Search-container{
        background: orangered;
        margin: auto;
        width: 600px;
    }

    /* .Search__bar{
        width: 500px;
        background: rgb(86, 149, 245);
        margin: 10px;
    } */

    

}

